.header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-logo {
    color: #3d3d3d;
    text-decoration: none;
    letter-spacing: 2px;;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.header-list-link {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;;
}

.header-list-link:hover {
    border-bottom: solid 2px #000;
}

.is-active {
    border-bottom: solid 2px #000;
}